{% extends "layout.html" %}

{% block body_container %}
<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron">
            <h2>Create a new guest account</h2>
            <p>Debian Developers have their accounts synced automatically on the
                Debian GitLab instance. If you are not a Debian Developer, you
                can create a guest account using this service.</p>
            {% if not session.gitlab_user %}
            <p><a href="{{ url_for('register_guest_page') }}" class="btn btn-lg btn-primary">Register guest account</a></p>
            {% else %}
            <p><span class="btn btn-lg btn-primary" disabled="disabled">You're already logged in</span></p>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron">
            <h2>Create a new team</h2>
            <p>Group creation is disabled on the Debian GitLab instance, as we
                want to enforce namespacing guidelines. You can create a group for the team
                according to the namespacing guidelines using this
                service.</p>
            {% if session.gitlab_user %}
            <p><a href="{{ url_for('register_team') }}" class="btn btn-lg btn-success">Register new team</a></p>
            {% else %}
            <p><a href="{{ url_for('login', next=url_for('register_team')) }}" class="btn btn-lg btn-success">Log in to create a team</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
